<div class='container col-6 mx-auto'>
    <h2>送信が完了しました</h2>
    <h4 class="mt-4">内容は以下の通りです</h4>
    <h4 class="mt-4">タイトル</h4>
    <h4 class="font-weight-bold"><%= @group_message.title %></h4>
    <h4 class="mt-4">本文</h4>
    <h4 class="font-weight-bold"><%= @group_message.content %></h4>
</div>