<% if @search_target == "users" %>
  <h2>Users search for <%= @search_word %></h2>
  <%= render 'users/index',users: @results %>
<% else %>
  <h2>Books search for <%= @search_word %></h2>
  <%= render 'books/index', path: 'books/favorite', books: @results %>
<% end %>
